<!DOCTYPE HTML>
<!--
	
	@cha-desig | Copyright (CC BY-NC 4.0) 
	
-->
<html>
	<head>
		<title>: cha.design : soluciones creativas .</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<meta name="Description"  CONTENT="Que es una página web, clasificación y tipos de páginas web"  />

		<!-- fb meta og -->
		<meta property="og:image" content="https://nebulosa.on/img/nebulosa_logo.png">
		<meta property="og:description" content="">
		<meta property="og:title" content="">

		<meta name="twitter:title" content="">

		<link rel="stylesheet" href="./css/style.css" />


	</head>
		<body id="mobile-first" class="post" >

		<!-- Wrapper -->
		<div id="wrapper">

				
		<div id="main"> 
			<h1> Que es una página web? </h1>
			<h2 class="intro">   La página web es un archivo de texto, que interpretado por un navegador , muestra una representación visual multimedia que puede enlazar a otras páginas u otros contenidos.</h2>

<br>
			<div id="info" class="mono">
			<span> Definición </span>
			<p>Una página web es un soporte digital, que se caracterizan por que ademas de contener texto, y contenido multimedia
				como imágenes, videos , audio o documentos, pueden contener enlaces a otras paginas u objetos multimedia.
			</p>
				
			<p>	
				Las páginas web son archivos de tipo HTML, acronimo del Lenguaje de Marcado de Hipertexto ( Hypertext Markup Languaje ), este formato se caracteriza por contener texto plano, y permite introducirlo entre unas etiquetas definidas por el consorcio internacional w3c, que al ser interpretadas por el navegador, crean enlaces a otras páginas o documentos dentro de la web.
			</p>


			<p> La representación visual que obtenemos en el navegador suele ser un conjunto de archivos (scripts) </p>
			<span> Una página web se compone de :</span>
			<ul>
				<li>HTML contenido.</li>
				<li>CSS estilo.</li>
				<li>JS interactividad.</li>
			</ul> 

			<span> Tipos de página web </span>
			<ul>
				<li> newsletter</li>
				<li> mail </li>
				<li> landing page</li>
				<li> mapa web </li>
				<li> banner </li>
			</ul>
			
			<p>
			Al conjunto de páginas sobre un tema determinado o bajo un dominio común se conoce como <a href="sitio-web.html"> sitio web</a> 
			</p>
			</div>
		
		</div>

	<div id="footer_wrap">	
		<footer>
			<p> 
			pretty weaving since 99 . design by da-da. © 
			</p>
		</footer>
		</div>
	</div>
	<!-- BG -->

	</body>
</html>
