html{
    font-size: calc(16px + 4 * ((100vw - 480px)/ 800));

    line-height:1.5;

}

body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
    font-size: .8rem;
    overflow-x: hidden;
    color:#f3f1f1;
    background: rgb(28, 27, 31);
    text-rendering: optimizeLegibility;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
    margin-top: 2rem;
    color: #f3f1f1;
}

h1{font-weight:100}

p{
}